body {
  width: 1440px;
  margin: 0px auto;
}

header {
  width: 1440px;
  height: 500px;
  float: left;
  background-color: red;
}

h1 {
  font-size: 50px;
  line-height: 450px;
  margin-left: 70px;
}

h3 {
  width: 80%;
  background-color: yellowgreen;
}

#menu_box {
  width: 80%;
  height: 80px;
  float: left;
  background-color: skyblue;
}
#menu_box button:hover {
  background-color: pink;
  color: white;
}

#login_box {
  width: 20%;
  height: 200px;
  float: right;
  background-color: green;
}

#login_box0 {
  width: 80%;
  height: 80%;
  background-color: yellow;
  margin: 0 auto;
  margin-top: 20px;
}

article {
  width: 80%;
  float: left;
  background-color: pink;
  margin-top: 80px;
}

#bord {
  width: 80%;
  float: left;
  background-color: pink;
  margin: 0 10%;
}

#bord_line{
  background-color: purple;
  display: grid;
  grid-template-columns: 5% 20% 50% 10% 15% ;
  grid-template-rows: 50px;
}

#bord_line p{
  width: auto;
  float: left;
}

.table {
  display: grid;
  grid-template-columns: 5% 20% 50% 10% 15% ;
  grid-template-rows: 50px;
}

#content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 100px;
}

.footer {
  width: auto;
  height: 200px;
  background-color: orange;
}
